# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.bochorsqmzxjbelksqyk:vendora001.-@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?pgbouncer=true"
# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.bochorsqmzxjbelksqyk:vendora001.-@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"

SUPABASE_URL=https://bochorsqmzxjbelksqyk.supabase.co
SUPABASE_KEY=sb_publishable_c9bJJX7ox7Pi0axiTNz8fA_P2KuHKLU

